/*-----------------------------------------------------------------
# UTILITY HELPER CLASSES
-----------------------------------------------------------------*/

// vertical centering stuff
.u-verticalCenter {
  /* apply to parent element */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.u-verticalCenterTransform {
  /* apply to child element, parent must be relative positioned */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


// alignment & float utility classes ******************
// floats
@include im-media('>medium') {
  .u-floatLeft { display: block !important; float: left !important; }
  .u-floatRight { display: block !important; float: right !important; }
}
// textalign
.u-textCenter { text-align: center !important; }


// float orphan fix
.u-orphanFix {
  overflow: hidden !important;
  width: auto !important;
}


// responsive images
.u-responsiveImage, .u-responsiveImage img {
  max-width: 100% !important;
  height: auto !important;
}


// utilized for object-fit polyfill; add class to anything using object-fit
.u-polyFit {
  font-family: 'object-fit: cover; object-position: center;';
}


// misc helper classes
.u-relative { position: relative !important; }


// add back padding to a wrapper element when less than full grid width wide
@include im-media('<xlarge') {
  .u-responsivePadding {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

//extra padding to inner content
.u-innercontent {
    padding: 0 20px;
  @include im-media('>medium') {
    padding: 0 40px;
  }
}

// VISIBILITY UTILITY CLASSES ----------------------------------------------- /
.u-hidden {
  display: none !important;
  visibility: hidden;
}
.u-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.u-visuallyHidden.focusable:active, .u-visuallyHidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.u-invisible {
  visibility: hidden;
}

.u-toplayer {
  z-index: 1000;
}
