/*-----------------------------------------------------------------
# VARIABLES
-----------------------------------------------------------------*/

/*
* Here is where we declare all our variables like colors, fonts,
* base values, and defaults. We want to make sure this file ONLY
* contains variables.
*/

// == BREAKPOINTS ============================
// note: used for include-media mixin
$first-breakpoint-value: 400px; // small
$second-breakpoint-value: 768px; // medium
$third-breakpoint-value: 990px; // large



// == CONTENT WIDTH DIMENSIONS ============================
$max-width: 1040px;
$max-width-narrow: 800px;
$max-width-extra-narrow: 680px;



// == COLOURS ============================
$color-red-base:      #ef6545;

$color-blue-base:     #266885;
$color-blue-light:    #027AB2;

$color-gray-base:     #ACACAC;

$color-blue-dark:     #454959;
$color-blue-vessel:   #42545f;
$color-blue-vessellight: #8e989f;
$color-blue-ocean: #76a0b5;
$color-bluepurple: #32323a;
$color-green-ocean:  #47BE98;

$color-yellow:        #facf71;

$color-black:         #000000;
$color-white:         #FFFFFF;

// assign colours to vars (per best practice: http://sachagreif.com/sass-color-variables/)
$alert-red:         $color-red-base;
$text-color:        $color-black;
$link-color:        $color-blue-light;
$link-hover:        darken($link-color, 9%);
$border-color:      rgba($color-black, 0.8);



// == TYPOGRAPHY ========================
// Base Font Setups
$base-font-weight: 400;
$base-font-size: 13px;
$base-line-height: 1.5;

// Fonts
$primary-font-family: "Roboto", Helvetica, Arial, sans-serif;
$secondary-font-family: "Roboto Slab", Times, serif;

// Glyphs
$double-arrow: "\u21d2";
$link-glyph: $double-arrow;



// == EFFECTS ========================
$transition-ease: all 333ms ease;
