


.CloseModalNavButton--text.CloseModalNavButton--news {
  margin-top: 60px;
}

.InteriorHeader-top {
  height: 155px;
}

.BwLogo.icon-VSSL-logo-1color {
  width: 90px;
  height: auto;
  fill: #b7b6bb;
  @include im-media('>medium') {
    width: 130px;
  }
}

.NewsBanner {
  height: 310px;
  background-size: cover;
  background-position: center;
}


.page-template-pg-news-main-php, .page-template-pg-blog-main, .archive  {
  @include flex-item-columns('AjaxInitialLoad', 'BlogIntroWrap', 280px, 25px, true, 3);
  @include flex-item-columns('alm-reveal', 'BlogIntroWrap', 280px, 25px, true, 3);
}

.AjaxInitialLoad, .alm-reveal {
  margin-bottom: 30px;
}

.BlogContent  {
  img {
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
  }
  h4, h4 a {
    color: #fff;
    margin-bottom: 0;
  }
  .EntryMeta, .EntryMeta a, .EntryMeta a:visited, .EntryMeta a:hover {
    color: #fff;
    font-style: italic;
    font-weight: 400;
  }
}

.MoreLink, .MoreLink:visited, .MoreLink:hover {
  color: #fff;
  font-weight: 700;
  white-space: nowrap;

  .icon {
    position: relative;
    top: 5px;
  }
}

.Strip.NewsContent {
  padding-top: 64px;
  padding-bottom: 100px;
}

/*----------------------------------------------------------------*
  #Browse News
*----------------------------------------------------------------*/


.Strip.NewsFooter {
  text-align: center;
  color: $color-gray-base;
  padding: 20px 0;

    .SiteCopyright {
      padding-top: 20px;
      position: relative;
      top: 17px;
    }
}

.BrowseNews {
  margin-bottom: 40px;

  p {
    font-weight: 700;
    font-size: rem(18);
  }

  div {
    width: 250px;
  }

.LinkButton {
  margin-top: 0;
  vertical-align: middle;
  margin-bottom: 20px;
  a {
    padding: 16px 25px;
  }
}
}

.StyledSelect {
  border: 1px solid #fff;
  vertical-align: middle;
  background: url('../img/arrow_down.png') no-repeat 90% 50% $color-bluepurple;
  background-size: 25px auto;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  padding-right: 20px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 20px;

  select {
    appearance: none;
    width: 112%;
    background: transparent;
    border: 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    font-size: rem(20);
    text-align: center;
    option {
      text-align: left;
      font-weight: 400;
    }
  }
}
