.SingleContent .SectionContainer {
  padding-bottom: 40px;

.PrimaryContent {
  width: 820px;
  max-width: 100%;
  padding-bottom: 40px;
  margin: 0 auto;
  border-bottom: 1px solid $color-gray-base;
}

}

.Strip.SingleContent {
  padding-top: 40px;
  .EntryMeta {
    font-style: italic;
    margin-bottom: 5px;
    font-weight: 300;
    color: #fff;

    a, a:visited {
      color: #fff;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .wp-post-image {
    margin-bottom: 30px;
    margin-top: 25px;
  }
}

.SingleTitle {
  font-size: rem(20);
  font-family: $primary-font-family;
}

.single .BrowseNews {
    width: 820px;
    margin: 0 auto 20px auto;
    max-width: 100%;
}

.BackToHome {
background: #27282d;
text-transform: uppercase;
color: #fff;
display: inline-block;
padding: 9px 15px;
font-weight: 300;
float: right;
margin-top: 60px;
font-size: 1.25rem;
margin-left: 12px;

a {
  color: #fff !important;
}

&:hover {
  background: #ef6545;
}

}
