.animation-element {
  opacity: 0;
 position: relative;

}

.bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0, 200px, 0);
  -webkit-transform: translate3d(0, 200px, 0);
  -o-transform: translate(0, 200px);
  -ms-transform: translate(0, 200px);
  transform: translate3d(0, 100px, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
    transition: all 400ms linear;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}
