// link button styles ----------------------------------------------- /
.LinkButton {
  display: inline-block;
  margin: 1rem 0 1.75rem 0;
  text-align: center;
}
.LinkButton a {
  background-color: none;
  border: 1px solid #fff;
  color: #FFFFFF;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  transition: $transition-ease;
  letter-spacing: 2px;
  &:hover {
    background-color: $color-red-base;
  }
}

.LinkButton--reversed a {
  color: $color-blue-ocean;
  border: 1px solid $color-blue-ocean;
  &:hover {
    color: #fff;
  }
}

.LinkButton--reversed.LinkButton--reversedWhite a{
  color: #fff;
  border-color: #fff;
}
