.CardWrapper.Hideonmobile {
  display: none;
  @include im-media('>medium') {
  display: inline-block;
  }
}

.CardWrapper{
  width:280px;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  height: 240px;
  position: relative;
  display: inline-block;

  @include im-media('>450px') {
   width:238px;
  }

  @include im-media('>683px') {
    margin-bottom: 10px;
  }


  @include im-media('>large') {
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}

.Card {
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.Card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  svg {
    width: 135px;
    height: auto;
    display: block;
  }
}
.Card-face.Card-front{
  background:#000;
  background-size: cover;
  color: $color-yellow;
}
.Card-face.Card-back {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  text-align: left;
  background-color: $color-green-ocean;
  transform-style: preserve-3d;

  p {
    position: relative;
    top:50%;
    text-align: center;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 400ms ease;
  }
}



.CardWrapper{
  perspective: 800px;
}
.Card{
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.Card:hover .Card-front{
  transform: rotateY(-180deg);
}

.Card:hover .Card-back {
 transform: rotateY(0deg);
 p {
   opacity: 1;
 }
}
.Card-face {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.Card-face.Card-front {
  transform: rotateY(0deg);
}

.Card-face.Card-back {
  transform: rotateY(180deg);
}
