/*-----------------------------------------------------------------
# ICONS
-----------------------------------------------------------------*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-huawei-2 {
  width: 0.9970703125em;
}

.icon-VSSL-house {
  width: 0.91015625em;
}

.icon-VSSL-logo-1color {
  width: 1.0625em;
}

.icon-asus_fixed {
  width: 5.1142578125em;
}

.icon-VSSL-sloppyburger {
  width: 1.6318359375em;
}

.icon-VSSL-arrow-down {
  width: 2.1787109375em;
}

.icon-VSSL-arrow-left {
  width: 0.458984375em;
}

.icon-VSSL-arrow-right {
  width: 0.458984375em;
}

.icon-VSSL-logo-V-color {
  width: 0.84765625em;
}

.icon-VSSL-logo-vessel-color {
  width: 4.2822265625em;
}
