.Strip.InteriorCTA {
  background-color: $color-blue-ocean;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  .SectionContainer {
    width: 80%;
    @include im-media('>1000px') {
      width: 55%;
    }
  }

}

.InteriorCTA-text {
  display: block;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  @include im-media('>750px') {
    width: 60%;
    display: inline-block;
    padding-right: 20px;
    text-align: left;
  }

}

.InteriorCTA-button {
  display: block;
  vertical-align: middle;

  a {
    padding: .8rem 2.5rem;
  }
  @include im-media('>750px') {
    display: inline-block;
    width: 38%;
    vertical-align: middle;
  }
}


.CTALINK {
  display: block; position: relative; top: -135px; visibility: hidden;
}
