// main logo  ----------------------------------------------- /
.SiteLogo {
  position: absolute;
  z-index: 2000;
  top:15px;
  left: 22px;


  a {
    display: inline-block;
  }
  svg {
    display: block;
    transition: $transition-ease;
    width: 68px;
    height: 44px;
    @include im-media('>large') {
        width: 82px;
        height: 82px;
    }
  }
} // END SiteLogo --------

.SiteLogoText {
display: none;
position: absolute;
z-index: 2000;
top: 104px;

a {
  display: inline-block;
}
svg {
  display: block;
  transition: $transition-ease;
  fill: #454959;
  width: 125px;
  height: 33px;
  @include im-media('>large') {
      width: 125px;
  }
}
@include im-media('>large') {
display: block;
}
} // END SiteLogo --------


.PageHeader.sticky {

  .SiteLogo {
    svg {
    height: 44px;
  }
}

  .SiteLogoText {
    display: none;

  }
}
