.Strip.Strip-logowall {
  height: 127px;
}

.LogoWall {
  text-align: center;
  padding: 35px 0;
  width: 100%;

  .slick-track {
    display: flex;
    align-items: center;
  }


    .icon {
      color: #c2c2c2;
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px;

    }
    .icon-apple-2 {
      font-size: 44px;
    }
    .icon-lg-2 {
      font-size: 50px;
    }
    .icon-asus-2 {
      font-size: 56px;
    }
    .icon-htc-2 {
      font-size: 43px;
    }
    .icon-samsung-2 {
      font-size: 58px;
    }
    .icon-lenovo-2 {
    font-size: 58px;
    }
    .icon-huawei-2 {
      font-size: 40px;
    }
    .icon-hp {
    font-size: 33px;
    }
    .icon-moto-2 {
      font-size: 30px;
    }
    .icon-sony-2 {
      font-size: 58px;
    }

    .icon-alcatel-2 {
      font-size: 56px;
    }
    .icon-ate-2 {
      font-size: 30px;
    }
    .icon-acer-2 {
      font-size: 58px;
    }
}
