.InteriorBanner {
  background: #f2f2f2;
  height: 300px;
  background-size: cover;
  color: #fff;
  span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(28);
    letter-spacing: 7px;
    text-align: center;
  }
}

.ModalHeader {
  height: 153px;

  .BwLogo {
    cursor: pointer;
  }
}

.CloseModalNavButton--text {
  background: #27282d;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  padding: 8px 10px;
  font-weight: 300;
  float: right;
  margin-top: 60px;
  font-size: rem(20);
  line-height: 1;
  cursor: pointer;
  &:hover {
  background: #ef6545;
}
  .icon {
    fill: #fff;
    height: 30px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  span {
    display: inline-block;
  line-height: 1;
    vertical-align: middle;

  }
}

.ModalContent .EntryContent p {
  font-size: 1.125rem;
}

.ModalContent {
  color: #fff;
  font-weight: 300;
  border-top: 8px solid $color-yellow;
  padding: 75px 0;
  font-size: rem(18);

  ul  {
    margin-left: 40px;
  }

  .LinkButton {
    width: 200px;
    margin: 20px auto;
    display: block;

  }
}

.CloseModalNavButton--iconOnly {
  background: #27282d;
  display: inline-block;
  padding: 10px 20px;
  float: left;
  cursor: pointer;
  line-height: 1;

  &:hover {
    background: #ef6545;
  }

  .icon {
    fill: #fff;
    height: 30px;
    width: 18px;
    display: inline-block;
  }
}

.InteriorFooter {
  border-top: 2px solid $color-yellow;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #9a9a9c;
  text-align: center;

  span {
    position: relative;
    top: 12px;
  }
}

.ModalCopyright {
  display: block;
  clear: both;
  @include im-media('>400px') {
  margin-left: -58px;
  display: inline-block;
  }
}
