.SearchTitle {
  font-size: 20px;
  font-family: $primary-font-family;
  a{
  color: #fff;
  display: block;
}
span {
  font-weight: 400;
}
}

.Strip.SearchResultsWrap {
  padding-top: 50px;
}

.SearchResult {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.SearchOptions {
  text-align: center;
}
