.HeroBanner {
  height: calc(100vh - 120px);
  min-height: 400px;
  background: #ddd;
  position: relative;
}

.HeroBanner-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -27px;
  text-align: center;
  a {
    text-transform: uppercase;
    color: #677a85 !important;
    text-align: center;
  }
  svg {
    width: 54px;
    height: 25px;
    fill: #677a85;
  }
}

.HeroSlider {
  position: relative;
  width: 100%;
}

.HeroSlider-slide {
    height: calc(100vh - 120px);
      min-height: 400px;
    background-size: cover;
}

.HeroSlider-text {
  flex-direction: column;
  text-align: center;
  span {
    height: 1px;
    width: 30%;
    background: #fff;
    display: block;
    margin: 10px 0;
  }
}

.HeroSlider-text p {
  color: #fff;
  font-size: rem(50);
  font-weight: 300;
}

.HeroBanner .animated {
  animation-duration: 2s
}
