.NewsQuery  {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
    @include im-media('>medium') {
      width: 70%;
    }

  .BlogContent h4 {
      margin-bottom: 4px;

    a, a:visited {
      font-size: rem(18);
      color: $color-blue-ocean;
      font-style: italic;
      letter-spacing: normal;
      margin-bottom: 0;
    }
  }
  .BlogContent p {
    font-size: rem(18);
    font-weight: 300;
    line-height: 1.2;
  }
}

.EntryMeta {
  font-weight: 900;
  color: $color-gray-base;
  a {
    color: $color-gray-base;
  }
}

.EntryMeta-category {
    color: $color-gray-base;
    &::before {
      content: "|";
      margin-right: 5px;
      margin-left: 2px;
    }
}

.NewsLink {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  @include im-media('>medium') {
    width: 30%;
  }

  .LinkButton a{
    font-size: rem(25);
    font-weight: 400;
  }
}
