.QASlider .slick-prev, .QASlider .slick-next {
font-size: 0;
line-height: 0;
position: absolute;
top: 0;
display: block;
width: 40px;
height: 88px;

padding: 0;
cursor: pointer;
color: transparent;
border: none;
outline: none;
background: transparent;
z-index: 100;
}

.QASlider .slick-prev {
  position: absolute;
  left: 0;
}

.QASlider .slick-next {
  position: absolute;
  right: 0;
}

.QASlider .slick-prev::before {
  content: "";
  background: url('../img/arrow_left.png');
  background-size: 100%;
  display: block;
  width: 40px;
  height: 88px;
  z-index: 100;
}

.QASlider .slick-next::before {
  content: "";
background: url('../img/arrow_right.png');
background-size: 100%;
display: block;
width: 40px;
height: 88px;
z-index: 100;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 7px;
    padding: 0; 
    cursor: pointer;
  }

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
      background: #454959;
}

.slick-dots li.slick-active button {
  background: #f9cd70;
}

.QASlider-slide p{
  width: 80%;
  margin: 0 auto;
    font-weight: 300;
    font-size: rem(17);
}
