.Strip.Section{
  text-align: center;
  padding: 50px 0 60px;
}

.SectionTitle {
border-bottom: 2px solid $color-blue-ocean;
display: inline-block;
padding: 0 40px 10px;
margin-bottom: 20px;
}

.Strip--bluePattern .SectionTitle {
  color: #fff;
  border-bottom: 2px solid #fff;
}
