.BoxLinks {
  text-align: center;
  margin-top: 30px;
}

.BoxLinks-box {
  display: inline-block;
    margin: 0 12px;
    margin-bottom: 5px;
  &:first-of-type {
    @include im-media('>medium') {
      margin-left: 0;
    }

  }
  &:last-of-type {
    @include im-media('>medium') {
      margin-right: 0;
    }

  }
}

.BoxLinks-box-inner {
  max-width: 100%;
  position: relative;
  text-align: center;
  border-bottom: 7px solid #fff;

  a {
    line-height: 0;
    display: block;
  }

  h4 {
    color: #fff;
    text-transform: uppercase;
  }

  img {
    width: 306px;
    height: auto;
    max-width: 100%;
  }

  &:hover {
    border-bottom: 7px solid $color-red-base;
  }
}

.BoxLinks--centered {
  text-align: center;
}
