/*-----------------------------------------------------------------
# WEBSITE FOOTER
-----------------------------------------------------------------*/

// PAGE FOOTER STYLES ----------------------------------------------- /
.PageFooter {
  background: $color-blue-vessel;
  color: #fff;
  text-align: center;
  padding: 45px 0 30px 0;
  p {
  font-size: rem(20);
  font-weight: 300;
  a {
    font-weight: 700;
    color: #fff;
  }
  }

}

.FooterNav {
  display: block;
  color: $color-blue-vessellight;
  font-size: rem(18);
  a {
    padding-left: 8px;
      color: $color-blue-vessellight;
      &::before {
        content: "|";
        padding-right: 8px;
      }
  }
}

.TranslateBar {
  position: fixed;
  bottom: 0;
}
