/*-----------------------------------------------------------------
# WEBSITE HEADER
-----------------------------------------------------------------*/

.PageHeader {
  height: 75px;
  background: #fff;
  position: fixed;
  top:0;
  width: 100%;
  transition: $transition-ease;
  @include im-media('>large') {
    height: 155px;
  }
}

.StickyMenuLink {
  float: right;
  position: relative;
  font-weight: 300;
  font-size: rem(20);
  top:20px;
  span {
    transition: $transition-ease;
    cursor: pointer;
  }
  @include im-media('>large') {
    display: none;
  }
}


.PopdownMenu {
  top: 102px;
  position: absolute;
  z-index: 500;
  width: 100%;
  opacity: 1;
  transition: $transition-ease;

}





.PopdownMenu {
  top: 75px;
  height: 0;
  position: absolute;
  border-top: 2px solid $color-red-base;
  background: #fff;
  display: none;
  opacity: 0;
  @include im-media('>large') {
    border-top: 0;
    opacity: 1;
    display: block;
    top:100px;
  }

  &.ShowPopdown {
    display: block;
    opacity: 1;
    height: auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
    height: 181px;
    @include im-media('>large') {
      display: none;
      opacity: 0;
      box-shadow:0;
    }
    @include im-media('>600px') {
      height: 90px;
    }
  }
}






// STICK CLASS STYLES
.PageHeader.sticky {
  height: 75px;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.3);

  .PopdownMenu {
    display: none;
    opacity: 0;
    top: 75px;
    border-top: 2px solid $color-red-base;

    &.ShowPopdown {
      display: block;
      opacity: 1;

      .MainMenuWrap {
        top: 38px;
      }

      .TertiaryMenu {
        top: 15px;
      }

    }
  }


  .StickyMenuLink {
    display: block;

  }

}

.StickyMenuLink .Hide {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.StickyMenuLink .Show {
  opacity: 1;
  height: auto;
  visibility: visible;
}

.StickyMenuLink-x {
  position: absolute;
  left: -45px;
  svg {
    width: 28px;
    height: 28px;
    fill: $color-blue-ocean;
  }
}

.StickyMenuLink-menu {
  position: absolute;
  left: -60px;
  svg {
    width: 45px;
    height: 30px;
    fill: $color-blue-ocean;
  }
}


.search .PageHeader, .search .PageFooter, .page-template-pg-blog-main-php .PageHeader, .page-template-pg-news-main-php .PageHeader, .page-template-pg-blog-main-php .PageFooter, .page-template-pg-news-main-php .PageFooter, .archive .PageHeader, .archive .PageFooter, .single .PageHeader, .single .PageFooter, .page-template-pg-custom .PageHeader, .page-template-pg-custom .PageFooter{
  display: none;
}
