/*----------------------------------------------------------------*\
  #STRIPS
\*----------------------------------------------------------------*/

.Strip {
  position: relative;
  @include im-media('>xlarge') {
    padding: 0;
  }
}


.Strip--afterBanner {
  margin-top: 75px;
  @include im-media('>large') {
    margin-top: 120px;
  }
}


.Strip--divider {
  background: url('../img/divider1.jpg') no-repeat;
  background-size: cover;
  height: 91px;
  width: 100%;
  display: block;
}

.Strip--yellowTop {
    border-top: 7px solid $color-yellow;
}

.Strip--yellowTopThin {
    border-top: 3px solid $color-yellow;
}


.Strip--bluePattern {
  background-image: url('../img/bluebg.jpg');
  color: #fff;
  p {
    color: #fff;
  }
}

.Strip--lowerCTA {
  background-size: cover;
  color: #fff;
  p {
    color: #fff;
    font-weight: 300;
    font-size: rem(17);
  }
}
