/*-----------------------------------------------------------------
# FORMS
-----------------------------------------------------------------*/


fieldset {
  border: none;
}

/*>== Reset for Use of Gravity Forms Styles ====================== */
.EntryContent .gform_wrapper, .gform_wrapper {
  ul {
    margin: 0;
  }
  li {
    padding-left: 0;
    text-indent: 0;
    &:before {
      content: "";
      display: none;
    }
  }
} // END RESET ----------------------------


/*
// FORM PLACEHOLDER STYLING
input::-webkit-input-placeholder { color: $color-white; }
input::-moz-placeholder { color: $color-white; opacity: 1; }
input:-ms-input-placeholder { color: $color-white; }
*/


/*>== Required GFORMS styles ======================== */
.gform_validation_container {
  display: none !important;
}
.hidden_label > .gfield_label {
  display: none;
}
// END Required GFORMS styles ====================


/*>== Setup styles for label position================= */
.field_sublabel_below {
  margin-bottom: 5px;
  input {
    margin-top: 3px;
  }
}


/*>== Form field size  ============================== */
input.large, textarea.large, select.large {
  width: 100%;
}
input.medium, textarea.medium, select.medium {
  width: 75%;
}
input.small, select.small {
  width: 75%;
  @include im-media('>small') {
    width: 35%;
  }
}
// END form field sizes -----------------------------------



// HALF SIZE INPUT FIELDS (LEFT/RIGHT) ---------------------------------------------------/
.EntryContent .gform_wrapper, .gform_wrapper {
  @include im-media('>medium') {
    .left-half {
      width: 49%;
      margin-right: 2%;
      display: inline-block;
      vertical-align: top;
      input {
        width: 100%;
      }
    }
    .right-half {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      input {
        width: 100%;
      }
    }
  }
} /* END extra wrappers needed for specificity ***/
// END half size left/right  --------------------






/*>== Error Styles =============================== */
.EntryContent .gform_wrapper, body .gform_wrapper {
  div.validation_error, div.validation_message {
    color: $alert-red;
    font-size: 14px;
    border-color: $alert-red;
  }
  .gfield_error .gfield_label {
    color: $alert-red;
  }
  .gfield_error input {
    background: $alert-red;
    border-color: $alert-red;
  }
} /* END extra wrappers needed for specificity ***/
// END error styles -----------------------------------




/*>== Project specific styling here ===============*/
.EntryContent .gform_wrapper, .gform_wrapper {
  input, select, textarea {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 16px;
  padding: 10px 20px;
    border-radius: 0;
  -webkit-appearance: none;
  }
  .gform_button {
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 50px;
  }

   select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    padding: 10px;
    border-radius: 0;
    background: transparent url(../img/DownArrrow.png) no-repeat 98% 50%;
    background-size: 26.5px 11.5px;
    option{
      background: $color-bluepurple;
    }
  }
  select::-ms-expand{
  display:none;
}
} /* END extra wrappers needed for specificity ***/
// END PROJECT SPECIFIC STLYES -----------------------------
