/*-----------------------------------------------------------------
# MAIN MENU STYLES
-----------------------------------------------------------------*/

  .MainMenuWrap {
    display: block; // BRING IN THE FULL SIZE MENU

    position: relative;
    top:38px;
    @include im-media('>large') {
    top:0;
    }
    @include im-media('>600px') {
      float: right;
    }
  }
  .MainMenu {
    background-color: transparent;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;

  }
  .MainMenu > li {
    display: block;
    margin: 0;
    position: relative;
    white-space: nowrap;
    padding: .2rem 0.5rem;
    @include im-media('>600px') {
    display: inline-block;
    padding: 1rem 0.5rem;
    }
    a {
      color: $color-blue-dark;
      display: inline-block;
      font-size: rem(15);
      margin: 0;
      font-weight: 300;
      text-transform: uppercase;

    }
    @include im-media('>640px') {
        padding: 1rem 0.9rem;
      a {
        font-size: rem(15);
      }
    }
    @include im-media('>900px') {
      padding: 0.5rem 0.8rem;
      a {
          font-size: rem(18);
      }
    }

    // &:first-of-type > a {
    //   padding-left: 0;
    // }
    // &:last-of-type > a {
    //   padding-right: 0;
    // }
  }
  .MainMenu > li > a:hover {
    color: $link-hover;
    border-bottom: 5px solid $color-red-base;
  }
  .MainMenu > .current-menu-item > a,
  .MainMenu > .current_page_item > a,
  .MainMenu > .current_page_parent > a,
  .MainMenu > .current_page_ancestor > a {
    color: $link-hover;
  }




  // main nav - drop down styles ----------------------------------------------- /
  .MainMenu li:hover ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  .MainMenu ul {
    background-color: $link-color;
    position: absolute;
    left: 0;
    min-width: 180px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms linear;
    z-index: 150;
  }
  .MainMenu ul li {
    float: none;
    position: relative;
    max-height: 0;
    transition: max-height 400ms linear;
    overflow: hidden;
  }
  .MainMenu li:hover ul li {
    max-height: 140px;
  }
  .MainMenu ul li a {
    color: #ffffff;
    font-size: rem(15px);
    padding: 4px 16px;
    width: 100%;
    display: block;
    transition: none;
  }
  .MainMenu ul li a:hover,
  .MainMenu ul .current-menu-item > a,
  .MainMenu ul .current-menu-parent > a,
  .MainMenu ul .current_page_item > a,
  .MainMenu ul .current_page_parent > a,
  .MainMenu ul .current_page_ancestor > a {
    color: #ffffff;
  }
  // end main nav - drop down styles ----------
