// TERTIARY MENU STYLES ----------------------------------------------- /


nav.TertiaryMenu {
  position: absolute;
  right: 0;
  top: 15px;
  width: 100%;
  text-align: center;
  @include im-media('>large') {
    top: -60px;
  }
  ul {
    margin: 0;

    @include im-media('>600px') {
      float: right;
      margin: 0 16px 0 0;
    }
  }
  li {
    display: inline-block;
    &:first-of-type::before {
      display: none;
    }

    a {
      padding: 0.5rem 0.3rem;
    }
  }

}
