// HEADING STYLES ----------------------------------------------- /

//
h1, .h1-style, h2, .h2-style, h3, .h3-style, h4, .h4-style, h5, .h5-style, h6, .h6-style {
  color: $color-blue-ocean;
  font-weight: 700;
  font-family: $secondary-font-family;
}
h1 a, .h1-style a, h2 a, .h2-style a, h3 a, .h3-style a, h4 a, .h4-style a, h5 a, .h5-style a, h6 a, .h6-style a {
  text-decoration: none;
}

h1, .h1-style {
  font-size: rem(50);
  line-height: 1;
  margin: 0 0 1rem;
  padding: 0;
}
h2, .h2-style {
  font-size: rem(40);
  line-height: 1.2;
  margin: 0 0 0.5rem;
  padding: 0;
}
h3, .h3-style {
  font-size: rem(35);
  line-height: 1.3;
  margin: 0 0 0.5rem;
  padding: 0;
}
h4, .h4-style {
  font-size: rem(20);
  line-height: 1.35;
  margin: 0 0 0.5rem;
  padding: 0;
  font-family: $primary-font-family;
  letter-spacing: 2px;
}
h5, .h5-style {
  font-size: rem(25);
  line-height: 1.4;
  margin: 0 0 0.5rem;
  padding: 0;
}
h6, .h6-style {
  font-size: rem(20);
  line-height: 1.4;
  margin: 0 0 0.5rem;
  padding: 0;
}

.MainTitle {
  font-family: $primary-font-family;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 1.75rem;
}
